*.log
*.aux
*.bbl
*.blg
*~
*.dvi
*.ps
*.RData
*.RHistory
*.png
*.pdf
*.7z
*.doc
*.docx


ssm-james.bib
Edwards*.tex
run-master.Snw

SSMsubmit1/
baumComments*

dataCode/JAEcode/
dataCode/ecologyCode/
dataCode/mizerTarGz/
dataCode/PLOSONEcode/
blanchardData/
dataCode/northSea2015/Andy Data*
dataCode/northSeaDemersal/


dataCode/funcTest1.r
dataCode/northSea2015/iphcSerBallHooksYYR.Snw
dataCode/northSea2015/__MACOSX/

