*.log
*.aux
*.bbl
*.blg
*~
*.dvi
*.ps
*.RHistory
*.png
*.pdf
*.7z
*.doc
*.docx
*.RData

code/MLEbin/MLEbinRerun/
code/MLEbin/MLEbinRerun2/

codeBinStructure/*/*.eps
codeBinStructure/*/*/*.eps
codeBinStructure/*/*.tex
codeBinStructure/*/*.csv
codeBinStructure/*/*/*.csv
codeBinStructure/nSeaFung/IBTS-ISDfigs/